{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Dashboard</h1>
      <p class="center">You are currently logged in.</p>


      <div class="center">
        <a href="/user/pantry" class="btn btn--secondary">Pantry</a>
      </div>

      <div class="center">
        <a href="/grocery" class="btn btn--secondary">Grocery</a>
      </div>

      <div class="center">
        <a href="/user/signout" class="btn btn--secondary">Sign Out</a>
      </div>

    
    </div>

    <div class="card">

      <h2 class="center">Your Info</h2>

      <p>
        <strong>Name:</strong> {{ session['user']['name'] }}<br>
        <strong>Email:</strong> {{ session['user']['email'] }}<br>
        <strong>Home Address:</strong> {{ session['user']['home_address'] }}<br>
        <strong>Phone Number:</strong> {{ session['user']['phone_number'] }}<br>
      </p>
    
    </div>
    <!-- Commented it out because still WIP
    <div class="card">
      <h1 class="center">Edit Account</h1>
      <form name="account_form">
          <label for="name">Name *</label>
          <input type="text" name="name" placeholder="Name" class="field" required>

          <label for="email">Email *</label>
          <input type="email" name="email" placeholder="Email" class="field" required>

          <label for="password">Password *</label>
          <input type="password" name="password" placeholder="Password" class="field" required>

          <label for="home_address">Home Address *</label>
          <input type="text" name="home_address" placeholder="Address" class="field" required>

          <label for="phone_number">Phone Number *</label>
          <input type="tel" name="phone_number" placeholder="XXX-XXX-XXXX" class="field" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

          <p class="error error--hidden"></p>

          <input type="submit" value="Confirm Changes" class="btn">
      </form>
    </div>
    -->
  
  </div>
{% endblock %}