{% extends "base.html" %}

{% block content %}

    <div class="card-wrapper">
        <div class="card">
            <h1 class="center">Create an Account</h1>
            <form name="signup_form">
                <label for="name">Name *</label>
                <input type="text" name="name" placeholder="Name" class="field" required>

                <label for="email">Email *</label>
                <input type="email" name="email" placeholder="Email" class="field" required>

                <label for="password">Password *</label>
                <input type="password" name="password" placeholder="Password" class="field" required>

                <label for="home_address">Home Address *</label>
                <input type="text" name="home_address" placeholder="Address" class="field" required>

                <label for="phone_number">Phone Number *</label>
                <input type="tel" name="phone_number" placeholder="XXX-XXX-XXXX" class="field" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

                <p class="error error--hidden"></p>

                <input type="submit" value="Sign Up" class="btn">
            </form>
        </div>

        <div class="card">
            <h1 class="center">Login</h1>
            <form name="login_form">
                <label for="email">Email *</label>
                <input type="email" name="email" placeholder="Email" class="field" required>

                <label for="password">Password *</label>
                <input type="password" name="password" placeholder="Password" class="field" required>

                <p class="error error--hidden"></p>

                <input type="submit" value="Login" class="btn">
            </form>
        </div>
    </div>

{% endblock %}